/* ------ FONTS ------- */

@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&family=VT323&display=swap");

/* ------------------------ */

p,
span {
	font-family: "VT323", monospace;
	color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Teko", sans-serif;
	color: #1a1a1a;
}

body {
	transition: 0.5s;
}
