/* ------ HEADER ------- */

.App-logo {
	max-width: 180px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo:hover #letter-q {
		transform-box: fill-box;
		transform-origin: center;
		animation: reflect 0.3s linear;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}
}

@keyframes reflect {
	from {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}
	to {
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
}

/* ------------------------ */
